<% @page_class = 'error-page' %>
<div id="422" class="error-message">
  <h1><span class="green">Error 422:</span><span>We're not worthy.</span></h1>
  <p>If you were looking for an error page, you're in luck! Check the address or <a href="#TODO" title="Report an error">report an error</a>.</p>
  <%= link_to "Return Home", "/", :class => "home-link"%>
</div>