<% @page_class = 'error-page' %>
<div id="404" class="error-message">
  <h1><span class="green">Error 404:</span><span>We're not worthy.</span></h1>
  <p>The page you‘re trying to reach does not exist. Check the address or <a href="#TODO" title="Report an error">report an error</a>.</p>
  <%= link_to "Return Home", "/", :class => "home-link"%>
</div>