<p>Welcome <%= @email %>!</p>

<p>You can confirm your account through the link below:</p>

<p><%= link_to 'Confirm my account', @confirmation_link %></p>

<p>Confirmation token: <%= @confirmation_token %></p>


