<div class="section" id="checkout-seals">
  
      <script type="text/javascript" src="https://seal.starfieldtech.com/getSeal?sealID=I3O3OXmF5HvQwmAKrCe2GPNPsL7ohFqZej1LsUhxwDSdgJWtrEwZ&c=l"></script>
      <script type="text/javascript" src="https://seal.verisign.com/getseal?host_name=SOLETRON.COM&amp;size=S&amp;use_flash=YES&amp;use_transparent=YES&amp;lang=en"></script>
      	<a href="https://www.verisign.com/ssl-certificate/" target="_blank" style="display:none">ABOUT SSL CERTIFICATES</a>
     <script type="text/javascript" language="javascript">var ANS_customer_id="ab1e11c0-3c97-4028-9e37-c9b05c1f7d59";</script>
     <script type="text/javascript" language="javascript" src="https://verify.authorize.net/anetseal/seal.js" ></script>
     <a href="https://www.paypal.com/us/verified/pal=aj%2esteigman%40soletron%2ecom" target="_blank"><img src="assets/seal-paypal.png" border="0" alt="Official PayPal Seal" width="80" height="80"></a>

</div> 
