<% content_for :promo do %>
  <% if false # switch to turn off/on promo %> 
    <div id="flash_messages">
      <div class="flash error sale">TONE TUESDAY: DONATE 10% AND GET 5% OFF EVERY SALE FOR SICKLE CELL RESEARCH WITH <strong>PROMO CODE: TONE10</strong></div>
    </div>
  <% end %>
<% end %>