<div id="icons-seals">

  <table>
    <tr>
      
      <td>
        <%# image_tag 'authorize_seal.gif', :class => "seals" %>
        <!-- (c) 2005, 2011. Authorize.Net is a registered trademark of CyberSource Corporation --> 
        <div class="AuthorizeNetSeal">
          <script type="text/javascript" language="javascript">var ANS_customer_id="ab1e11c0-3c97-4028-9e37-c9b05c1f7d59";</script>   
          <script type="text/javascript" language="javascript" src="//verify.authorize.net/anetseal/seal.js" ></script>
          <a href="https://www.authorize.net/" id="AuthorizeNetText" target="_blank">Credit Card Processing</a>
        </div>
      </td>
      
      <td>
        <%# image_tag 'VeriSignTrustSeal.gif', :class => "verisign-logo" %>
        <table width="135" border="0" cellpadding="2" cellspacing="0" title="Click to Verify - This site chose VeriSign SSL for secure e-commerce and confidential communications.">
  	      <tr>
  	        <td width="135" align="center" valign="top">
  	          <script type="text/javascript" src="https://seal.verisign.com/getseal?host_name=SOLETRON.COM&amp;size=S&amp;use_flash=YES&amp;use_transparent=YES&amp;lang=en"></script>  <br />
  	          <a href="https://www.verisign.com/ssl-certificate/" target="_blank"  style="color:#000000; text-decoration:none; font:bold 7px verdana,sans-serif; letter-spacing:.5px; text-align:center; margin:0px; padding:0px;">ABOUT SSL CERTIFICATES</a>
  	        </td>
  	      </tr>
  	    </table>
      </td>
      
      <td>
        <span id="siteseal" style="position: relative; height: 30px;overflow: hidden;"><script type="text/javascript" src="https://seal.starfieldtech.com/getSeal?sealID=I3O3OXmF5HvQwmAKrCe2GPNPsL7ohFqZej1LsUhxwDSdgJWtrEwZ"></script><br/><a style="font-family: arial; font-size: 9px" href="https://www.starfieldtech.com" target="_blank">Extended Validation SSL</a></span>

      </td>
      
      <td width="80">
        <!-- Begin Official PayPal Seal -->
        <a href="https://www.paypal.com/us/verified/pal=aj%2esteigman%40soletron%2ecom" target="_blank">
          <img src="/assets/verification_seal.gif" border="0" alt="Official PayPal Seal" width="80" height="80">
        </a>
        <!-- End Official PayPal Seal -->
      </td>
      
      <td>
        <%= image_tag '100_percent_small.png', :class => "seals", :width => "80", :height => "80" %>
        <%= image_tag 'streetwear_small.png', :class => "seals", :width => "80", :height => "80" %>
      </td>
      
    </tr>
  </table>
  <br />
  <span style="position: relative; top: -10px; left: 20px;"><img src="/assets/stock_lock.png" height="12" width="12" style="height:12px; width:12px;" />Your order is safe and secure. Any information you submit is encrypted and sent over a secure server.<br />Soletron has a "no refund" Policy. All sales are final.</span><br /><br />
</div>