<div id="site-seals">
	 <table><tr><td valign="middle" style="vertical-align:middle">
				<table width="135" border="0" cellpadding="2" cellspacing="0" title="Click to Verify - This site chose VeriSign SSL for secure e-commerce and confidential communications.">
				<tr>
				<td width="135" align="center" valign="top"><script type="text/javascript" src="https://seal.verisign.com/getseal?host_name=SOLETRON.COM&amp;size=S&amp;use_flash=YES&amp;use_transparent=YES&amp;lang=en"></script><br />
				</td>
				</tr>
				</table>
		  
		  
		</td><td valign="middle" style="vertical-align:middle">
		
		  
				<!-- (c) 2005, 2011. Authorize.Net is a registered trademark of CyberSource Corporation --> <div class="AuthorizeNetSeal"> <script type="text/javascript" language="javascript">var ANS_customer_id="ab1e11c0-3c97-4028-9e37-c9b05c1f7d59";</script> <script type="text/javascript" language="javascript" src="//verify.authorize.net/anetseal/seal.js" ></script>  </div>
				
		</td><td valign="middle" style="vertical-align:middle">

				  <span id="siteseal" style="position: relative; left:20px; height: 30px;overflow: hidden;"><script type="text/javascript" src="https://seal.starfieldtech.com/getSeal?sealID=I3O3OXmF5HvQwmAKrCe2GPNPsL7ohFqZej1LsUhxwDSdgJWtrEwZ"></script><br/></span>

		</td></tr></table>
</div>