$green        : #5FBB30; 
$green_hover  : #6cd437; 
$grey         : #666E73;
$grey         : #4e4e4e;
$grey_2       : #726F6F;
$red          : #880000;
$red_hover    : #CC0000;
$light        : #ddd;
$error_border_color: #FF0000;
$error_text_color: #FF0000;

$top_nav_color  : #2e2e2e;
$footer_color   : #252525;

$defaultFont  : Verdana, Tahoma, sans-serif; 
$titleFont    : TrumpGothic; 

$defaultSize  : 12px;

$pageWidth    : 1000px;

$sprite 	    : image_url('main-sprite.png');

