<span><%= feed_item.feedable.message %></span><br/>
<span class="comment footer">posted in response to <%= link_to feed_type_display(feed_item.feedable.feed_item), feed_item_path(feed_item.feedable.feed_item) %></span>
