<span>just added <%= product_feed_item_title(feed_item) %></span>

<div class="mtm">
  <%= render :partial => "feed_items/product_images", 
            :locals => {:products => [feed_item.feedable]+feed_item.consolidated_feed_items.limit(2).inject([]) {|array, item| array << item.consolidated; array}}%>
</div>
  
<div class="options">
  <%= link_to "See all new items", main_app.store_path(feed_item.feedable.store) %> | <%= link_to "Comment", "#comments", :class => "show-comments" %>
</span>
