<?xml version="1.0"?>
<feed xmlns="http://www.w3.org/2005/Atom" xmlns:g="http://base.google.com/ns/1.0">
	<title>Example - Online Store</title>
	<link rel="self" href="http://www.example.com"/>
	<updated>20011-07-11T12:00:00Z</updated> 
  
  
<%= yield %>


</feed>
